<footer class="page-footer">
  <div class="container">
    © 2015 Copyright
    <div class="creators">
      <%# <a class="right" href="https://github.com/markAmobi">  mark.amobi  </a><a class= "right" href="https://github.com/mgalicer">  mari.galicer,  </a><a class= "right" href="https://github.com/tra38"> , tariq.ali, </a><a class= "right" href="https://github.com/chagers">  christine.hager, </a><a class="right" href="https://github.com/egarreau">  evangeline.garreau  </a> %>
    </div>
  </div>
</footer>