<footer class="page-footer light valign">
  © 2015
  <div class="creators right">
    <a href="https://github.com/egarreau" target="_blank">evangeline.garreau</a>
    <span class="pipe">|</span>
    <a href="https://github.com/markAmobi"target="_blank">mark.amobi</a>
    <span class="pipe">|</span>
    <a href="https://github.com/mgalicer" target="_blank">mari.galicer</a>
    <span class="pipe">|</span>
    <a href="https://github.com/tra38" target="_blank">tariq.ali</a>
    <span class="pipe">|</span>
    <a href="https://github.com/chagers" target="_blank">christine.hager</a>
  </div>
</footer>
