
<footer class="page-footer light valign">
  © 2015
  <div class="creators right">
    <a href="https://github.com/egarreau">evangeline.garreau</a>
    <span class="pipe">|</span>
    <a href="https://github.com/markAmobi">mark.amobi</a>
    <span class="pipe">|</span>
    <a href="https://github.com/mgalicer">mari.galicer</a>
    <span class="pipe">|</span>
    <a href="https://github.com/tra38">tariq.ali</a>
    <span class="pipe">|</span>
    <a href="https://github.com/chagers">christine.hager</a>
  </div>
</footer>
