<meta charset="UTF-8">
<title>hashography</title>


<%# JQuery %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<%# Google Maps %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1W7zVfGqF8F_d-9q7XKmxRtWYjEXRya0"></script>

<%# Socket.io %>
  <script src="/socket.io/socket.io.js"></script>

<%# Application.js %>
  <script type="text/javascript" src="javascript/map_styles_helper.js"></script>
  <script type="text/javascript" src="javascript/map_helper.js"></script>
  <script type="text/javascript" src="javascript/socket_helper.js"></script>
  <script type="text/javascript" src="javascript/application.js"></script>

<%# Materialize %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/font/roboto/Roboto-Light.ttf">

<%# Local CSS %>
  <link rel="stylesheet" type="text/css" href="css/main.css">

<%# Google Font %>
  <link href='//fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
