<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper z-depth-2">
      <img class="momo" src="images/momo.png">
      <a class="brand-logo left white-text">hashography</a>
      <ul id="nav-mobile" class="right">
        <li>
          <form id="search-form" action="">
            <input class="white-text thin input-field" placeholder="Enter any word here" id="textarea1" type="text">
          </form>
        </li>
      </ul>
    </div>
  </nav>
</div>