<nav>
  <div class="nav-wrapper">
    <img class="momo" src="images/momo.png">
    <a class="brand-logo center">hashography</a>
    <ul id="nav-mobile" class="right">
      <li><textarea id="textarea1" class="materialize-textarea light"></textarea></li>
    </ul>
  </div>
</nav>