<nav>
  <div class="nav-wrapper">
    <img class="momo" src="images/momo.png">
    <a class="brand-logo center">hashography</a>
    <ul id="nav-mobile" class="right">
      <li>
        <div class="row wordentry">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s12 l12 offset-l3">
                <textarea id="textarea1" class="materialize-textarea light"></textarea>
                <label for="textarea1" class="light">Enter any word here</label>
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</nav>






<%#
<textarea id="textarea1" class="materialize-textarea light"></textarea><label for="textarea1">Enter any word here!</label>
%>