<meta charset="UTF-8">
<title>hashography</title>


<%# JQuery %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1W7zVfGqF8F_d-9q7XKmxRtWYjEXRya0">
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascript/application.js"></script>
    <script type="text/javascript" src="javascript/geocoder.js"></script>

<%# Materialize %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<%# Local CSS %>
  <link rel="stylesheet" type="text/css" href="css/main.css">
