<nav>
  <div class="nav-wrapper">
    <img class="momo" src="images/momo.png">
    <a class="brand-logo left">hashography</a>
    <ul id="nav-mobile" class="right">
      <li>
        <div class="row">
          <form id="search-form" class="col s12" action="">
            <div class="row">
              <div class="input-field col s12 l12 offset-l3">
                <input placeholder="Enter any word here" id="textarea1" class="thin" type="text">
              </div>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
</nav>
