<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper z-depth-2">
      <img class="momo animated bounce" src="images/momo.png">
      <a class="brand-logo left white-text">hashography</a>
      <ul class="right">
        <li class="search">
          <form id="search-form">
            <input class="white-text input-field right-align" placeholder="Enter any word here" id="textarea1" type="text">
          </form>
          <a href="twitter.com"/ + "I'm talking about" +
        </li>
        <a target="_blank" href="http://twitter.com/home?status=Check%20it%20out!%20hashography.herokuapp.com" id="twitter-button"><i class="fa fa-twitter" ></i></a>
      </ul>
    </div>
  </nav>
</div>