

<%#
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="col s12 m12 l5 offset-l7">
        <textarea id="textarea1" class="materialize-textarea light"></textarea>
      </div>
    </div>
  </form>
</div>

<div class="map">
  <img class="sample-map" src="images/sample_map.png">
</div>
%>