<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>ACK!!*@#&$^%&*$*</h4>
    <h5>You've hit a crossroads... Please choose an option below to continue your adventure:</h5>
    <ol>
      <li>
        If you have hashography open in any other tabs, please close them and try again.
      </li>
      <li>
        The limits have been exceeded! Please come back and try again in a little while.
      </li>
    </ol>
  </div>
  <div class="modal-footer">
    <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
