<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>ACK!!*@#&$^%&*$*</h4>
    <p>If you have hashography open in any other tabs, please close them and try again.
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
