<div id="siteInstructions" class="modal">
  <div class="modal-content">
    <h4>How to use this site!</h4>
    <h5> Functionality </h5>
    <p>1. Type in a word in the search field to see where it's being used on twitter around the world</p>
    <p>2. You can search for 2 words at the same time! Simply separate the words using a comma in the search field. </p>
    <p>3. You can also search for hashtags.  </p>
    <p>4. You can also search for the occurence of multiple words in a tweet. Simply separate the words with a space. This also lets you search for a phrase. </p>

    <h5> Colors </h5>
    <p> For single word search:
    <p>1. If color is dark blue, the it's a negative emotion.</p>
    <p>2. If color is light blue, the it's a positive emotion.</p>
    <p>3. If the shade of blue is neutral, then the emotion is neutral.</p>
    <p> Double word search follows the same rule, but second word is red.

  </div>
  <div class="modal-footer">
    <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Explore!</a>
  </div>
</div>