<div id="siteInstructions" class="modal">
  <div class="modal-content">
    <h4>How do I use this site?</h4>
    <p>To get started, just type a word in the search field to see where it's being used on twitter around the world.</p>
    <ol>
      <li>Search for hashtags!</li>
      <li>Search for an entire phrase!</li>
      <li>Search for 2 words at the same time! Simply separate the words using a comma in the search field.</li>
      <li>Search for multiple words in 1 tweet! Simply separate the words with a space.</li>
    </ol>

    <h4> What do the different colors mean?</h4>
    <p> For single word search:</p>
    <ol>
      <li>If the marker is dark blue, then it's a negative emotion. :(</li>
      <li>If the marker is light blue, then it's a positive emotion. :)</li>
      <li>If the marker is a neutral shade of blue, then the emotion is also neutral. :|</li>
    </ol>
    <p> Double word searches follow the same rules, but the second word will be in shades of red.

  </div>
  <div class="modal-footer">
    <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Explore!</a>
  </div>
</div>