

/*NAVBAR, FOOTER*/
.nav-wrapper {
  /*background-color: #001A5B;*/
}

#wait-notification {
  position: absolute;
  width: 20px;
  height: 10px;
  background-color: black;
}


.brand-logo {
  font-size: 150%;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 8px;
  font-weight: bold;
  margin-left: 1%;
  background-color: transparent;
}

.brand-logo {
  clear: right;
}
.momo {
  max-width: 80%;
  max-height: 80%;
  padding-top: 1%;
  padding-left: 3%;
}
.pipe {
  color: #CBD7A2;
}
footer.page-footer {
  margin-top: -10px;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-right: 0px;
}

footer.page-footer, a {
  color: #bf360c;
  background-color: #424242;
  padding: 2px;
}

/*TEXTAREA*/
::-webkit-input-placeholder {
   color: white;
}

label {
  font-family: Roboto;
  margin-left: 20px;
  letter-spacing: 1px;
}
label.active {
  display: none;
}
li {
  margin: 4% 10% 0 -100%;
  width: 150%;
  height: 0px;
  clear: right;
}

/*MAP*/
#map-canvas {
  height: 800px;
  width: 100%;
  position: relative;
}

/*ERROR MODAL*/
#modal1, .btn-flat {
  color: #001A5B;
}

