body {
  min-width: 1000px;
}
/*NAVBAR, FOOTER*/
.nav-wrapper {
  background-color: #F3C300;
}

#wait-notification {
  position: absolute;
  width: 20px;
  height: 10px;
  background-color: black;
}

.brand-logo {
  font-size: 150%;
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 8px;
  font-weight: bold;
  margin-left: 1%;
  background-color: transparent;
}

.brand-logo {
  clear: right;
}

.momo {
  max-width: 90%;
  max-height: 90%;
  padding-top: 0.5%;
  padding-left: 3%;
  padding-bottom: 0.25%;
}

/*Animation configurations ( duration and fill mode )*/
.animated {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*Animation for webkit Chrome, Safari, Opera */
@-webkit-keyframes bounce {
  10% {-webkit-transform: translateY(-10px);}
  20% {-webkit-transform: translateY(10px);}
  30% {-webkit-transform: translateY(-10px);}
  40% {-webkit-transform: translateY(10px);}
  50% {-webkit-transform: translateY(-10px);}
  60% {-webkit-transform: translateY(10px);}
  70% {-webkit-transform: translateY(-10px);}
  80% {-webkit-transform: translateY(10px);}
  90% {-webkit-transform: translateY(-10px);}
}

/*Standard Animation */
@keyframes bounce {
  10% {transform: translateY(-10px);}
  20% {transform: translateY(10px);}
  30% {transform: translateY(-10px);}
  40% {transform: translateY(10px);}
  50% {transform: translateY(-10px);}
  60% {transform: translateY(10px);}
  70% {transform: translateY(-10px);}
  80% {transform: translateY(10px);}
  90% {transform: translateY(-10px);}
}

/*Adding the animation to our element*/
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.pipe {
  color: #ffffff;
}

footer.page-footer {
  margin-top: -10px;
  padding-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-right: 0px;
}

footer.page-footer, a {
  color: #F3C300;
  background-color: #424242;
  padding: 2px;
}

/*TEXTAREA*/
::-webkit-input-placeholder {
   color: white;
}

.search {
  margin: 4% 10% 0 -100%;
  width: 150%;
  height: 0px;
  clear: right;
}

input[placeholder]{
  font-family: Roboto;
  font-size: 20px;
  margin-left: 20px;
  letter-spacing: 1px;
}

input.input-field{
  border-bottom: none;
}

input[type=text].input-field:focus{
  border-bottom: none;
  box-shadow: none;
}

/*MAP*/
#map-canvas {
  height: 800px;
  width: 100%;
  position: relative;
}

/*ERROR MODAL*/
#modal1, .btn-flat {
  color: #001A5B;
}

