<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

  <% include ../partials/siteInstructions %>
  <% include ../partials/modal %>

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <% include ../partials/main %>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
